extends layout

block content
  h1= title
  //- - let items = ['jaguar_type','quantity','cost']
  - let items = results;
  - let o;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    a(class="btn btn-primary" href="/jaguar/create") Create
    div(class='row m-1')
    div(class="row row-cols-1 row-cols-sm-4 g-6")
      each item,index in items
        - let destination = `dispatch(\"/jaguar/update?id=${item._id}\")`
        - let details = `dispatch(\"/jaguar/detail?id=${item._id}\")` 
      
        div(class="jaguard text-black mb-3" class='col' class='jaguard' class='jaguard-body' class='jaguard-text' onclick='buy('+index+')') Item color is #{item.jaguar_color}(Item breed is #{item.jaguar_breed})price is #{item.jaguar_price} 
          <br><br>
          span(class="btn btn-primary", onclick= details) Details
          <br>
          a(class="btn btn-secondary", href="/jaguar/delete/?id="+item._id) Delete
          <br>
          button.btn( class="btn-success ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }